body{
    background-color: #12161b;
}

#header{

    margin: 0px;
    padding: 0px;
    float: none;
    Height: 321px;
    width: 100%;
    background-image: url("PGODImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 6px solid #1b232c;
    border-right: 3px solid #1b232c;
    border-left: 3px solid #1b232c;
    box-sizing: border-box;
}

#navigator{
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #171d23;
/*    display: table-cell;*/
    border-style: solid;
    border-width: 3px;
    border-color: #1b232c;
    box-sizing: border-box;
}

.navButton{
    width: 20%;
    height: inherit;
    display: inline-block;
    float:left;
}

.content{
    position: absolute;
    width: 80%;
    height: auto;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-top: 0px;
    margin-right: -40%;
    background-color: #212830;
    right: 50%;
}

p{
    color: oldlace;
    font-weight: bolder;
    margin: 5px;
}

#navigator p{
    padding: 1px;
    color: #ebbb5f;
    margin: -3px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    
}

#navigator p:hover{
    text-decoration: underline;
    color: #eac275;
    background-color: #212b35;
}

#content p{
    margin-left: 10px;
}

.subtext{
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 100;
}

#memberTable{
    text-align: center;
    color: #AFD4FF;
    font-weight: 700;
    font-size: 20px;
    border-bottom: solid 2px #12161b;
}

#memberTable th{
    font-size: 30px;
    font-weight: 900;
    color: white;
}

#memberTable td{
    border-top: solid 2px #12161b;
    margin 0px;
}

#memberInfo{
    padding: 50px;
}

.messager:hover{
    text-decoration: underline;
}

#memberTable .name{
    padding: 20px;
    width: 500px;
    height: auto;
}

#memberTable .name:hover{
    text-decoration: underline;
}

#memberTable .notXbox{
    color: red;
}

#memberTable .online{
    padding: 20px;
    width: 500px;
    height: auto;
}

#memberTable .activity{
    padding: 20px;
    width: 500px;
    height: auto;
}

#eventTableContainer{
    width: 100%;
    height: auto;
}

#eventTable{
    width: 100%;
    text-align: center;
    color: #AFD4FF;
    font-weight: 700;
    font-size: 20px;
    border-bottom: solid 2px #12161b;
}

#eventTable .time{
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
}

#eventTable .number{
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
}

#eventTable .game{
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
}

#eventTable .gamertag{
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
}

#eventTable .eventHeader{
    width: 25%;
    border-bottom: solid 2px #12161b;
    font-size: 30px;
    color: white;
}

#eventTable td{
    border-top: solid 2px #12161b;
    margin 0px;
}

#eventTable #eventCreator{
    padding-bottom: 10px;
}

.eventCreateButton{
    width: 100%;
    text-align: center;
    color: #AFD4FF;
    font-weight: 700;
    font-size: 20px;
    border-bottom: solid 2px #12161b;
    padding-top: 13px;
    padding-bottom: 13px;
    margin: 0px;
    font-size: 25px;
}

.eventCreateButton:hover{
    background-color: #212b35
}